<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}首页{% endblock %}- HLYY_Blog</title>
</head>
<body>
{#顶部导航栏#}
<div>
    {% for cat in navs %}
        <a href="">{{ cat.name }}</a>
    {% endfor %}
</div>
<hr/>

{#主体内容#}
{% block main %}
{% endblock %}
<hr/>

{#底部分类栏#}
<div>
    {% for cat in categories %}
        <a href="">{{ cat.name }}</a>
    {% endfor %}
</div>
<hr/>

{#侧边栏#}
<div>
    {% for sidebar in sidebars %}
        <h4>{{ sidebar.title }}</h4>
        {{ sidebar.content_to_html }}
    {% endfor %}
</div>

</body>
</html>