{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %}"  crossorigin="anonymous">
    {% block extra_css %}
    {% endblock %}

    <title>{% block title %}首页{% endblock %}-HLYY_Blog</title>
    <style>
        .post {
            margin-bottom: 5px;
        }
    </style>

</head>
<body>
<div class="container head">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'index' %}" class="navbar-brand">首页</a>
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul class="navbar-nav mr-auto">
                {% for tag in navs %}
                    <li class="navitem">
                        <a href="{% url 'tag-list' tag.id %}" class="nav-link">{{ tag.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
                <input name="keyword" type="search" class="form-control mr-sm-2"
                       placeholder="{% if keyword %}{{ keyword }}{% else %}Search{% endif %}" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">HLYY Blog</h1>
        <p class="lead">基于Django的博客系统</p>
    </div>
</div>
<div class="container main">
    <div class="row">
        <div class="col-9 post-list">
            {% block main %}{% endblock %}
        </div>
        <div class="col-3">
            {% block sidebar %}
                {% for sidebar in sidebars %}
                    <div class="card sidebar">
                        <div class="card-body">
                            <h4 class="card-title">{{ sidebar.title }}</h4>
                            <p>
                                {{ sidebar.content_to_html }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
<footer class="footer">
    {% block footer %}
        <div class="container">
            <hr/>
            <nav class="nav category">
                {% for tag in normal_tags %}
                    <a href="{% url 'tag-list' tag.id %}" class="nav-link">{{ tag.name }}</a>
                {% endfor %}
            </nav>
        </div>
        <div class="container power">
            <span class="text-muted">Power by Django</span>
        </div>
    {% endblock %}
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
{% block extra_js %}
{% endblock %}
</body>
</html>