{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'  %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}首页{% endblock %}-HLYY_Blog</title>
    <style>
        .post {
            margin-bottom: 5px;
        }
    </style>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
<div class="container head">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{% url 'index' %}" class="navbar-brand">首页</a>
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul class="navbar-nav mr-auto">
                {% for cate in navs %}
                    <li class="navitem">
                        <a href="{% url 'category-list' cate.id %}" class="nav-link">{{ cate.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-lg-0">
                <input name="keyword" type="search" class="form-control mr-sm-2"
                       placeholder="{% if keyword %}{{ keyword }}{% else %}Search{% endif %}" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">搜索</button>
            </form>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="display-4">HLYY Blog</h1>
        <p class="lead">基于Django的多人博客系统</p>
    </div>
</div>
<div class="container main">
    <div class="row">
        <div class="col-9 post-list">
            {% block main %}{% endblock %}
        </div>
        <div class="col-3">
            {% block sidebar %}
                {% for sidebar in sidebars %}
                    <div class="card sidebar">
                        <div class="card-body">
                            <h4 class="card-title">{{ sidebar.title }}</h4>
                            <p>
                                {{ sidebar.content_to_html }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endblock %}
        </div>
    </div>
</div>
<footer class="footer">
    {% block footer %}
        <div class="container">
            <hr/>
            <nav class="nav category">
                {% for cate in normal_categories %}
                    <a href="{% url 'category-list' cate.id %}" class="nav-link">{{ cate.name }}</a>
                {% endfor %}
            </nav>
        </div>
        <div class="container power">
            <span class="text-muted">Power by hlyy</span>
        </div>
    {% endblock %}
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>#}
<script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>