
<div class="form-row pb-3">
    <div class="input-group col-6 ">
        <div class="input-group-prepend">
            <span class="input-group-text"><span style="color: red">*</span>昵称</span>
        </div>
        <input type="text" class="form-control" name="nickname" minlength="3" maxlength="20" required>
    </div>
    <div class="input-group col-6">
        <div class="input-group-prepend">
            <span class="input-group-text"><span style="color: red">*</span>验证码</span>
        </div>
        <input type="text" name='captcha' class="form-control" required >
        <div class="input-group-append">
                            <span class="input-group-text">
                                <img class="captcha" src="{{captcha.image_url}}" alt="点击换一张" id="id_captcha_1">
                            </span>
        </div>
        <input value="{{captcha.hashkey}}" name="hashkey" type="hidden" id="id_captcha_0">
    </div>
</div>
<div class="form-row pb-3">
    <div class="input-group col-6 ">
        <div class="input-group-prepend">
            <span class="input-group-text" tabindex="0">邮箱</span>
        </div>
        <input type="email" class="form-control"  name="email" data-toggle="popover"
             data-placement="top" data-content="仅用于通知评论回复，不会对外公布" data-trigger="focus">
    </div>
    <div class="input-group col-6">
        <div class="input-group-prepend">
            <span class="input-group-text">网站</span>
        </div>
        <input type="url" name='url' class="form-control" >
    </div>
</div>
<div class="form-group">
    <textarea class="form-control" name="content" rows="3" placeholder="请输入评论" minlength="5"></textarea>
</div>
<input type="hidden" name="reply_comment_id">
<button class="btn btn-primary" type="submit" name="submit_btn" data-post-id="{{ post.pk }}">提交评论</button>
