{% extends 'base.html' %}
{% load static %}
{% block main %}
    {% for post in post_list %}
        <div class="card post">
            <div class="card-body">
                <h5 class="card-title"><a href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h5>
                <span class="card-link">作者：HLYY</span>
                <span class="card-link">访问量：{{ post.pv }}</span>
                <span class="card-link">标签：
                    {% for tag in post.tag.all %}
                        <a href="{% url 'tag-list' tag.id %}">{{ tag.name }}</a>
                    {% endfor %}
                    </span>

                <p class="card-text">
                    {{ post.desc }}
                </p>
                <p class="card-text">
                    <a href="{% url 'post-detail' post.id %}">完整内容</a>
                </p>
            </div>
        </div>
    {% endfor %}
    <div class="page-wrapper">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="previous">← 上一页</a></li>
                <li><a href="?page=1">首页</a></li>
            {% endif %}
            <li><span class="page_number ">Page {{ page_obj.number }} of {{ paginator.num_pages }}</span></li>
            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.num_pages }}">末页</a></li>
                <li><a href="?page={{ page_obj.next_page_number }}" class="next">下一页 →</a></li>
            {% endif %}
        </ul>
    </div>
{% endblock %}

{% block extra_css %}

{% endblock %}